@import "tailwindcss";

@theme {
  --color-titlebar: #211c84;
  --color-highlight: #b5a8d5;
  --color-tertiary: #847dd2;
  --color-secondary: #4d55cc;
  --color-primary: #7a73d1;

  --color-text-primary: var(--color-zinc-200)
}

@layer base {
  html {
    @apply text-text-primary;
  }
}
body {
  padding: 0;
  margin: 0;
}
MessageBox {
  padding: 10px;
  margin: 5px;
  border-radius: 50px;
}
@font-face {
  font-family: "Pixel Warden";
  src: url("/Pixelwarden-E4Yzj.ttf") format("truetype");
}
html * {
  font-family: "Trebuchet", sans-serif;
}
.font-pixel {
  font-family: "Pixel Warden", serif;
}
.placeholder-pixel::placeholder {
  font-family: "Pixel Warden", serif;
  font-size: 18px;
}
