
body {
  padding: 0;
  margin: 0;
}
MessageBox {
  padding: 10px;
  margin: 5px;
  border-radius: 50px;
}
@font-face {
    font-family: "Pixel Warden";
    src: url("C:\Users\shayo\wizcord\frontend\public\Pixelwarden-E4Yzj.ttf") format("truetype");
}
html *
{
  font-family: 'Trebuchet', sans-serif
}
.font-Pixel {
  font-family: "Pixel Warden", serif;
}
.placeholder-Pixel::placeholder {
  font-family: "Pixel Warden", serif;
  font-size: 18px;
}