@import "tailwindcss";
@theme {
  --color-titlebar: #211c84;
  --color-border: #b5a8d5;
  --color-secondary: #4d55cc;
  --color-lists: #7a73d1;
}
body {
  padding: 0;
  margin: 0;
}
MessageBox {
  padding: 10px;
  margin: 5px;
  border-radius: 50px;
}
@font-face {
  font-family: "Pixel Warden";
  src: url("/Pixelwarden-E4Yzj.ttf") format("truetype");
}
html * {
  font-family: "Trebuchet", sans-serif;
}
.font-pixel {
  font-family: "Pixel Warden", serif;
}
.placeholder-pixel::placeholder {
  font-family: "Pixel Warden", serif;
  font-size: 18px;
}
